<?php
$root = dirname(__FILE__);
putenv("APP_ROOT=$root/src");
putenv("UPLOADS_DIR=uploads");
putenv('DB_HOST=localhost');
putenv('DB_USER=root');
putenv('DB_PORT=3306');
putenv('DB_PASSWORD=');
putenv('DB_NAME=gallery');