<?php
$root = dirname(__FILE__);
putenv("APP_ROOT=$root");
putenv("REQUEST_ROOT=/vacation-v2/backend/");
putenv("UPLOADS_DIR=uploads");
putenv('DB_HOST=localhost');
putenv('DB_USER=root');
putenv('DB_PORT=3306');
putenv('DB_PASSWORD=');
putenv('DB_NAME=vacation');
putenv('SECRET_KEY=Our little secret!'); // Must be 12 characters in length, contain upper and lower case letters, a number, and a special character *&!@%^#$