.errorMessage {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.offScreen {
    position: absolute;
    left: -9999px;
}


@keyframes popup {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #e7e7e7;
}

.input-parent {
    display: block;
    margin-bottom: 20px;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.line {
    display: inline-block;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.hide {
    display: none;
}


label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #a4a4a4;
}

.input-parent input {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    background: #323131;
    border: none;
    color: #c7c7c7;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}

.input-parent input:hover {
    background: #404040;
}

.input-parent input:focus {
    box-shadow: 0 0 0 1px #0087ff;
}


.input-error {
    border: 1px solid red !important;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}


.button-wrapper button {
    margin: 0 0 0 5px;
}

.button-wrapper button:focus {
    box-shadow: 0 0 0 3px black;
}

.button-wrapper button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.login-btn {
    padding: 10px 18px;
    font-size: 15px;
    background: #1a3969;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #f4f4f4;
    transition: all 0.2s ease;
}
